<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.ednovak.nearby"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="5" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                
                <action android:name="net.ednovak.Nearby.xmppService.LOGIN_UPDATE"/>
            </intent-filter>
        </activity>
        

      
        <activity android:name=".displayMessageAct" />
        <activity android:name=".answerAct" />
        <activity android:name=".paillierTest" />
        <activity android:name=".messageTest" />
        <activity android:name=".settings" />
            <!--  android:theme="@style/preferences"/> -->
        <activity android:name=".names" />
        <service android:name=".xmppService" />
        
        
            
    </application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />

</manifest>